<h1> <%= @task.title %> </h1>
<table>
  <thead>
    <tr>
      <%= @task.details %>
    </tr>
  </thead>
  <br>
  <tbody>
    <% if @task.completed == true %>
    <%= check_box_tag 'completed', @task.id, "[X] Task Completed" %>
    <% else %>
    <%= check_box_tag 'completed', @task.id, "[  ] Task not completed" %>
    <% end %>
    <br>
   <%= link_to "Back to list", tasks_path %>
  </tbody>
</table>
